<?xml version="1.0" encoding="UTF-8"?>
<esConfiguration>
<!-- Constant parameters of the optimization problem -->
<problemParametersConstant>
<FP>
<processingParameter name="Processing steps" stringValue = "1-9"/>
<processingParameter name="Window size" intValue = "-1"/>
<processingParameter name="Window step size" intValue = "-1"/>
<processingParameter name="Conversion steps" stringValue = "0[true_false]"/>
</FP>
</problemParametersConstant>
<!-- ES configuration -->
<esParameters>
<optimizationParameter name="Population size" intValue="10"/>
<optimizationParameter name="Number of offsprings" intValue = "5"/>
<optimizationParameter name="Initial probabilities for number of samples" stringValue="0.1, 0.3, 0.3, 0.2, 0.1"/>
<optimizationParameter name="Number of generations" intValue="30"/>
</esParameters>
<!-- ARFF output configuration -->
<output>
<optimizationParameter name="Logging interval" intValue="1"/>
<optimizationParameter name="Generation number" booleanValue="true"/>
<optimizationParameter name="Log all best onsets" booleanValue = "true"/>
</output>
</esConfiguration>